# Compiled Object files
*.slo
*.lo
*.obj
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib
*.so
*.a

# Executables
*.exe
*.out
*.app
*.debug
