# Compiled Object files
*.slo
*.o
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll
*.lib
*.a

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app
*.debug
*.tlog
*.log
*.pdb
*.lastbuildstate
*.idb
