# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app
*.debug
